/* lavender track (filled portion) */
.rc-slider-track {
    background-color: #DFC5FE !important;
    height: 8px;
}

/* lavender handles */
.rc-slider-handle {
    border-color: #DFC5FE !important;
    background-color: #DFC5FE !important;
    height: 20px;
    width: 20px;
}

/* gray rail (unfilled portion) */
.rc-slider-rail {
    background-color: #888888 !important;
    height: 8px;
}

/* slider marks text (years) */
.rc-slider-mark-text {
    color: #DFC5FE !important; 
    font-family: Helvetica, sans-serif;
    font-size: 12px; 
}

/* change the color of the slider dots */
.rc-slider-dot {
    background-color: #DFC5FE !important;  /* lavender color */
    border-color: #DFC5FE !important;
}
.rc-slider-dot-active {
    background-color: #BFA2FF !important;  /* slightly darker lavender for active dot, distinguishment capability (distinguishability?) */
    border-color: #BFA2FF !important;
}

/* change the placeholder color of all dashboard dropdowns */
.Select-placeholder, .Select-control .Select-placeholder {
    color: black !important;  /* replace with your desired color */
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;  /* adjust size */
}

/* placeholder when a value is selected */
.Select-value {
    color: black !important;
}